#contenedor{
  width: 600px;
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../images/descarga.png),
  url(../images/descarga.png),
  url(../images/descarga.png) ,
  url(../images/descarga.png) ;
  background-position: 200px, 100px, 40px, 0px;
}

.text{
  position: absolute;
  bottom: 10px;
  left: 170px;
  padding: 5px 10px;
  font-size: 20px;
  opacity: 0.7;
  background: #ABC;
  color:white;
  border-radius: 10px;

}