.wrapper {
    position: relative;
    float: left;
    left: 0;
    width: 700px;
    margin-bottom: 10px;
}

.left1 {
    display: table;
    position: relative;
    float: left;
    left: 5px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}

.left2 {
    display: table;
    position: relative;
    float: left;
    left: 15px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}

.left3 {
    display: table;
    position: relative;
    float: left;
    left: 25px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}

.left4 {
    display: table;
    position: relative;
    float: left;
    left: 35px;
    width: 140px;
    height: 100px;
    border: 1px dashed grey;
    padding: 5px;
    text-align: center;
    line-height: 20px;
}

body {
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 90%;
    color: white;
}

h1 {
    color: red;
}

span {
    display: table-cell;
    vertical-align: middle;
}

#div1 {
    background: #00FFFF;
    color: gray;
}

#div2 {
    background: #FF0;
    color: gray;
}

#div3 {
    background: rgb(198, 226, 255);
    color: gray;
}

#div4 {
    background: rgb(0%, 20%, 80%);
}

#div5 {
    background-color: chocolate;
}

#div6 {
    /*
  1-color al 100%
  0.5-color al 50%
  0.0-color al 0%
  */
    background: rgb(198, 226, 255);
    background: rgba(198, 226, 255, 0.25);
    color: gray;
}

#div7 {
    background: rgb(0%, 20%, 80%);
    background: rgba(0%, 20%, 80%, 0.5)
}

#div8 {
    background: hsl(270, 90%, 60%);
}

#div9 {
    background: hsl(270, 90%, 80%, 0.5);
}

#div10 {
    background: chocolate;
    opacity: 0.5;
}

#div11 {
    color: gray;
}

img:hover {
    opacity: 0.5;
}

#div12 {
    background: url(../images/descarga2.png) no-repeat;
    background-color: rgb(234, 98, 14)
}

div.transbox {
    background-color: #fff;
    opacity: 0.6;
}

div.transbox p {
    margin-top: 55px;
    font-size: 80%;
    color: #000;
}

#div13 {
    /* Safari o chrome */
    
    /* background: -webkit-gradient(linear, 0%, 0%, 0%, 100%, from(rgba(109, 0, 25, 1)), to(rgba(200, 3, 31, 1))) */
    /* Estandar */
    background: linear-gradient(rgba(109, 0, 25, 1), rgba(200, 3, 31, 1));
}

#diva14{
    background: linear-gradient(to right, #2F2727, #1A82F7, #2F2727, #1A82F7, #2F2727);
}

#diva15{
    background: radial-gradient(circle , #2F2727, #1A82F7)
}

#diva16{
    background: radial-gradient(closest-corner at 80%, 20%, #1A82F7, #2F2727)
}

#div17{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
color: #000
}